%h2 Edit #{resource_name.to_s.humanize}

- form_for resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put } do |f|

  %fieldset
  
    %legend Your Account Details

    .row.string
      = f.label :email, "Email Address:", :class => 'field-name'
      = f.text_field :email, :class => 'text'
      .clearfix
      = ninja_errors f, :email
  
    .row.string
      = f.label :password, "Password:", :class => 'field-name'
      = f.password_field :password, :class => 'text'
      .clearfix
      = ninja_errors f, :password
  
    .row.string
      = f.label :password_confirmation, "Confirm your Password:", :class => 'field-name'
      = f.password_field :password_confirmation, :class => 'text'
      .clearfix
      = ninja_errors f, :password_confirmation
      
    .row.string
      = f.label :current_password, "Current Password:", :class => 'field-name'
      = f.password_field :current_password, :class => 'text'
      .clearfix
      %p.hint We need your current password in order to confirm your changes.
      = ninja_errors f, :current_password
      
  %fieldset.buttons
    %input{:type => "submit", :value => "Update my Details", :id => "update-details-button"}

%h3 Cancel my account

%p Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
  

= render :partial => "shared/devise_links"