#footer
  %ul#footer-nav
    %li= link_to 'Home',          './index.html'
    %li= link_to 'Your Profile',  './profile.html'
    %li= link_to 'Your Favourites', './favourites.html'
    %li= link_to 'Example Post',  './story.html'
    %li= link_to 'Submit a Blog', './submit.html'
  %p#footer-summary
    Rubyocracy - A project of CITS4230 Group F. All Rights Reserved. Site copyright 2010 onwards.
    %br
    = "Contact Us"
    if you have any questions.
    %br
