#header
  #inner-header
    %h1= link_to 'Rubyocracy', root_path
    %ul#header-primary-navigation
      - if user_signed_in?
        %li= link_to "Your Profile", member_path(current_user)
        %li= link_to "Sign out", destroy_user_session_path
      - else
        %li= link_to "Sign up", new_user_registration_path
        %li= link_to "Sign in", new_user_session_path
    .clearfix
  %ul#header-secondary-navigation
    %li= link_to 'Latest Posts', root_path
    %li= 'Trending Posts'
    -if user_signed_in?
      %li= link_to 'Your Favourite Posts', list_favorites_by_user_path(current_user)
    %li= link_to 'Submit a Blog', new_site_path
  
