#header
  #inner-header
    %h1= link_to 'Rubyocracy', '/'
    %ul#header-primary-navigation
      %li= link_to 'Your Profile', '#'
      %li= pending_link 'Sign Out'
  %ul#header-secondary-navigation
    %li= link_to 'Newest Posts', '#'
    %li= pending_link 'Trending Posts'
    %li= link_to 'Your Favourite Posts', '#'
    %li= link_to 'Submit a Blog', '#'
  
  