%li.story{:class => (@last_child ? "last" : nil)}
  .story-inner
    %h3
      = link_to 'Some Simple Blog Title Here', './story.html', :class => 'story-title'
    = link_to '12 comments', './story.html#comments', :class => 'story-comments'
    .story-vote
      = pending_link "I Liked it", "#", :class => 'story-up-vote'
      or
      = pending_link "I didn't like it", "#", :class => 'story-down-vote'
    %br.clear
    .story-preview
      %a{:href => "./story.html"}
        %img{:src => "./images/site.png", :alt => 'Some Simple Blog Title Here'}
    .story-nested-details
      .story-summary
        %p= quote
      .story-meta-container
        %p.story-meta
          Posted on
          = pending_link "Some Users Blog", "#", :class => 'story-origin-link'
          about <span class='story-posted-at'>10 hours ago</span>.
        %p.story-favourites
          Favourited by
          %span.story-faved-count 3 people
          \-
          = link_to "Favourite Story", "./favourites.html", :class => 'story-favourite'
        .clearfix
  .clearfix