%li.story{:class => (@last_child ? "last" : nil)}
  .story-inner
    %h3
      = link_to story.title, [story.site, story], :class => 'story-title'
    -# = link_to '12 comments', './story.html#comments', :class => 'story-comments'
    .story-vote= story_liked_info story
    %br.clear
    .story-preview= linked_screenshot story
    .story-nested-details
      .story-summary= (defined?(full) && full) ? story.content.html_safe : abstract_for(story)
      .story-meta-container
        %p.story-meta
          Posted on
          = link_to story.site.name, story.site.url
          about <span class='story-posted-at'>#{time_ago_in_words story.posted_at} ago</span>.
        %p.story-favourites
          Favourited by
          %span.story-faved-count= pluralize story.favorites.size, 'person'
          - if user_signed_in?
            == - #{story_favourited_link story}
        .clearfix
  .clearfix
