
= render :partial => 'stories/story', :locals => {:story => @story, :full => true}

%a{:id => "comments"}
#story-comments
  %h4 Comments on This Story
  
  %ul#comment-listing
    #pagination= will_paginate @story_comments
    - @story_comments.each_with_index do |comment, index|
      %li{:class => "comment"}
        = render :partial => 'comments/comment', :locals => {:comment => comment }
    #pagination= will_paginate @story_comments
  
  - if user_signed_in?
    = render :partial => 'comments/form', :locals => { :commentable => @story }
  - else
    %h4 Sign in to comment on this story

