
= render :partial => 'stories/story', :locals => {:story => @story}

%a{:id => "comments"}
#story-comments
  %h4 Comments on This Story
  
  %ul#comment-listing
    - @story.comments.each_with_index do |comment, index|
      %li{:class => "comment"}
        %p= comment.comment
        .comment-metadata
          Comment by
          = link_to "#{comment.user}", comment.user, :class => 'comment-author'
          about
          %span.comment-posted-at== #{Time.now - comment.created_at} minutes ago
  
  = render :partial => 'comments/form', :locals => { :commentable => @story }
