%h2= h(@user.name)

#user-profile

  %p#user-summary
    Member of Rubyocracy for <span class='user-member-for'>#{time_ago_in_words(@user.created_at)}</span>.
      
  #user-statistics
    %ul
      %li.stat-respect
        .inner
          %span.name Respect
          %span.value Unknown
      %li.stat-favourites
        .inner
          %span.name Favourites
          %span.value= @user.favorites.count
      %li.stat-likes
        .inner
          %span.name Likes
          %span.value= @num_likes
      %li.stat-dislikes
        .inner
          %span.name Dislikes
          %span.value= @num_dislikes
    .clearfix
  
  #user-information
    %dl#user-links
      %dt Comments:
      %dd= link_to "View All", list_comments_by_user_path(@user)
      %dt Sites:
      %dd= link_to "View All", list_sites_by_user_path(@user)
      %dt Favourites:
      %dd= link_to "View All", list_favorites_by_user_path(@user)
  
  #user-items
    .panel
      %h4 Recent Liked Items
      %ul
        - @recent_liked_items.each do |liked|
          %li= link_to(h("#{liked.title}"), [liked.site, liked]) 
        - if @recent_liked_items.blank?
          %li.empty No recently liked items.
    .panel
      %h4 Recent Favourited Items
      %ul
        - @recent_favorites.each do |favorite|
          %li= link_to(h("#{favorite.title}"), [favorite.site, favorite]) 
        - if @recent_favorites.blank?
          %li.empty No recently favourited items.
          
    .clearfix

  .clearfix
